@import "../index.scss";

// Create a css property
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
#intro {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(var(--angle), $color-bg-1 50%, $color-bg-2);
  animation: rotation 4s linear infinite;
  overflow-y: hidden;
}
.intro-grid {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient($color-grid 1px, transparent 1px),
    linear-gradient(90deg, $color-grid 1px, transparent 1px);
  background-size: var(--w) var(--w);
}
svg {
  width: 100%;
  height: 100%;
}
rect {
  width: calc(var(--w) - 1px);
  height: calc(var(--w) - 1px);
  fill: $color-gradient-1;
  opacity: 0.8;
}
.rect1 {
  height: calc(0.2 * var(--w) - 1px);
}

@keyframes blink {
  0% {
    fill: $color-gradient-1;
  }
  25% {
    fill: blue;
  }
  50% {
    fill: green;
  }
  75% {
    fill: yellow;
  }

  100% {
    fill: pink;
  }
}
// Gradieantal backraound rotation
@keyframes rotation {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
